	<div class="modal fade" id="user-update-modal">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title overflow-hidden text-truncate" id="modal-title">Edit User</h6>
	      </div>
	      <form id="user-update-form">
	        <div class="modal-body">
	          <div class="input-container gap-5 d-flex flex-column">
	            <div class="input-wrapper">
	              <label for="username-input">Username</label>
	              <input class="form-control bg-dark-subtle" id="username-input" disabled></input>
	            </div>
	            <div class="input-wrapper">
	              <label for="firstname-input">Firstname</label>
	              <input class="form-control bg-dark-subtle" name="firstname" id="firstname-input"></input>
	            </div>

	            <div class="input-wrapper">
	              <label for="lastname-input">Lastname</label>
	              <input class="form-control bg-dark-subtle" name="lastname" id="lastname-input"></input>
	            </div>

	            <div class="input-wrapper">
	              <label for="email-input">Email</label>
	              <input class="form-control bg-dark-subtle" name="email" id="email-input" type="email"></input>
	            </div>
	            <div class="input-wrapper">
	              <label for="email-input">Address</label>
	              <input class="form-control bg-dark-subtle" name="address" id="address-input"></input>
	            </div>
	            <div class="input-wrapper">
	              <label for="phone-input">Phone</label>
	              <input class="form-control bg-dark-subtle" name="phone" id="phone-input"></input>
	            </div>
	            <div class="input-wrapper">
	              <div class="dropdown-wrapper w-100">
	                <div class="dropdown d-flex w-100 flex-row justify-content-between align-items-baseline">
	                  <p>Role</p>
	                  <button class="btn btn-dark w-50 dropdown-toggle dropdown-membership-btn ps-3" data-bs-toggle="dropdown" data-bs-target="#role-dropdown" id="role-dropdown-btn">Select
	                    role</button>
	                  <ul class="dropdown-menu" id="role-dropdown">
	                    <% roles.forEach(role => { %>
	                    <li>
	                      <button class="dropdown-item" type="button" id="role-item" data-role-id="<%= role.id %>" data-role-name="<%= role.name %>">
	                        <%= role.name %>
	                      </button>
	                    </li>
	                    <% }) %>
	                  </ul>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" id="save-changes" type="submit">Save Changes</button>
	          <button class="btn btn-dark" data-bs-dismiss="modal" type="button">Cancel</button>
	        </div>
	      </form>
	    </div>
	  </div>
	</div>