  <div class="modal fade" id="brand-delete-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title overflow-hidden text-truncate" id="delete-modal-title"></h6>
        </div>
        <div class="modal-body">
          <p id="delete-modal-description"></p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" id="confirm-delete-btn">Delete</button>
          <button class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>