<div class="alert alert-dismissible fade client-alert-wrapper" role="alert" id="client-alert-wrapper">
  <div class="title-wrapper"><p class="alert-heading fs-6 fw-bold" id="client-alert-title"><p/></div>
  <div class="message-wrapper fs-6"><p id="client-alert-message"></p></div>
</div>