	<div class="modal fade" id="product-post-modal">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h6 class="modal-title overflow-hidden text-truncate" id="modal-title">Create A Product</h6>
	      </div>
	      <form id="create-product-form">
	        <div class="modal-body">
	          <div class="input-container gap-5 d-flex flex-column">
	            <div class="input-wrapper">
	              <label for="create-product-name">Product Name</label>
	              <input class="form-control bg-dark-subtle" id="create-product-name" name="name" placeholder="Enter product name here"></input>
	            </div>
	            <div class="input-wrapper">
	              <label for="create-product-description">Product Description</label>
	              <input class="form-control bg-dark-subtle" id="create-product-description" name="description" placeholder="Enter product description here"></input>
	            </div>
	            <div class="input-wrapper">
	              <label for="create-product-image">Product Image URL</label>
	              <input class="form-control bg-dark-subtle" id="create-product-image" name="imgurl" placeholder="Enter product image url here (optional) "></input>
	            </div>
	            <div class="input-wrapper">
	              <label for="product-quantity">Product Quantity</label>
	              <input class="form-control bg-dark-subtle" id="create-product-quantity" type="text" maxlength="9" name="quantity" placeholder="Default: 0"></input>
	            </div>
	            <div class="input-wrapper">
	              <label for="create-product-price">Product Price Per Unit</label>
	              <input class="form-control bg-dark-subtle" id="create-product-price" type="text" maxlength="9" name="unitprice" placeholder="Default: 0"></input>
	            </div>

	            <%- include('../dropdowns/brands.ejs', {type: 'create'}) %>
	            <%- include('../dropdowns/categories.ejs', {type: 'create'}) %>
	          </div>
	        </div>
	        <div class="modal-footer">
	          <button class="btn btn-primary" id="create-product" type="submit">Create Product</button>
	          <button class="btn btn-dark" data-bs-dismiss="modal" type="button">Cancel</button>
	        </div>
	      </form>
	    </div>
	  </div>
	</div>