 <div class="d-flex flex-row my-2 gap-3 p-3 justify-content-between text-center align-items-center fs-6">
   <p class="text-capitalize p-0 m-0"><%= path.replace('/', '')%><i class="bi <%= icon %> mx-2"></i></p>
   <% if(subtitle){ %>
   <p class="text-dark-emphasis p-0 m-0"><%= subtitle %></p>
   <% } %>
 </div>