 <div class="location d-flex flex-row align-items-baseline m-3 gap-3 p-2">
   <p class="fs-4 text-capitalize"><%= path.replace('/', '')%><i class="bi <%= icon %> mx-2"></i></p>
   <% if(subtitle){ %>
      <p class="text-dark-emphasis fs-5"><%= subtitle %><p/>
   <% } %>
  </div>