 <div class="justify-content-between bg-dark my-2 p-3 d-flex flex-row align-items-baseline">
   <p class="text-white fs-5 m-0">Current <%- title %></p>
   <% if(target) { %>
   <button class="btn btn-success btn-sm" id="add-<%-target%>" data-bs-toggle="modal" data-bs-target="#<%- target %>-post-modal"><i class="bi bi-plus-lg"></i>Add <%= target %></button>
   <% } %>
 </div>