@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html{
	overflow-x: hidden;
}

body {
	font-family: 'Rubik', sans-serif;
}

.table tr td{
	align-content: center;
}
@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}