<nav class="nav navbar w-100 bg-dark position-sticky z-1 border-bottom border-secondary d-flex flex-column justify-content-center align-items-center p-3" style="top: 136px;">
  <form id="search-form" class="w-100 d-flex" method="get" style="max-width: 1200px;">
    <div class="input-group container-fluid w-100">
      <input type="text" id="search-input" class="form-control px-3" name="keyword" placeholder="Search...">
      <button class="btn btn-secondary" type="submit"><i class="bi bi-search text-white"></i></button>
      <a class="btn btn-primary d-grid align-content-center" href="/products"><i class="bi bi-arrow-clockwise"></i></a>
      <a class="btn btn-danger" href="/products/deleted" id="get-deleted-btn"><i class="bi bi-trash"></i></a>
    </div>
  </form>
</nav>